body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#switchForm{
    display: flex;
    font-size: 12px;
    margin-bottom: 2rem;
}

form {
    padding: 20px;
    width: 300px;
    text-align: center;
    padding: 0px 20px;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

button {
    background-color: #090963;
    color: white;
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000031;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    padding: 0.3rem;
    list-style-type: disc;
    font-size: 0.8rem;
}

li{
    display: flex;
    align-items: start;
}


.bg, .center{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}
.left, .right{
    min-height: 100%;
    min-width: 50%;
    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.foreground{
    display: flex;
    height: 80vh;
    width: 85vw;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.left{
    background-color: #CEE3FF;
}
.right{
    background-color: #1E1F71;
}
.fg_left{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fg_right{
    background-color: #E6F2FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messegehead{
    display: none;
    margin-top: 2rem;
    margin-bottom: 0;
    border: 1px solid red;
    border-radius: 0.2rem;
    padding: 1rem;
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
}

#foregroundimg{
    /* height: 50%;
    width: 80%; */
}



@media only screen and (max-width: 600px) {
    .fg_right {
        display: none;
    }
    #foregroundimg{
        display: none;
    }
    .fg_left{
        border-radius: 1rem;
        width: 80%;
    }
    form{
        width: 90%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .fg_right {
        display: flex;
        width: 20vw;
    }
    #foregroundimg{
        width: 120%;
        /* height: 50%; */
    }
    .fg_left{
        border: none;
        width: 40%;
        padding: 0.5rem;
    }
    form{
        width: 90%;
    }
  }
